<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
<!--#if (useGitHub)
        <add key="git-packages" value="https://nuget.pkg.github.com/[nf:github-account]/index.json" />
#endif -->
<!--#if (useAdo)
        <add key="ado-packages" value="https://pkgs.dev.azure.com/[nf:devops-organization]/_packaging/[nf:devops-organization]/nuget/v3/index.json" />
#endif -->
    </packageSources>
</configuration>